<div class = "barA"></div>
<div class = "barB"></div>
<div class="barC"></div>
<div class = "aboutCom">
    <div class = "portPic">
        <img src= "./assets/images/meC.jpg">
    </div>
    <div class = "aboutDesc">
        <h2>Based in Orange County, California.</h2>
        <p>As a Full Stack Web Developer, I enjoy working with
            effects for UI/UX and discovering new and better solutions
            to challenging problems. Always open to working on existing
            Websites or creating them from scratch. If I'm not coding,
            researching different techologies, or spending time on StackOverflow,
            I'm spending time with the family.
        </p>
    </div>
</div>